--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: api_request_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_request_log (
    id bigint NOT NULL,
    page_number integer,
    page_size integer,
    records_fetched integer,
    request_url character varying(255),
    status character varying(255),
    trigger_time timestamp(6) without time zone
);


ALTER TABLE public.api_request_log OWNER TO postgres;

--
-- Name: api_request_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_request_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_request_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: arn_records; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.arn_records (
    arn character varying(255) NOT NULL,
    address text,
    arn_valid_from timestamp(6) with time zone,
    arn_valid_till timestamp(6) with time zone,
    arn_holder_name character varying(255),
    city character varying(255),
    email character varying(255),
    euin character varying(255),
    kyd_compliant character varying(255),
    pin character varying(255),
    sif_validity_from timestamp(6) with time zone,
    sif_validity_to timestamp(6) with time zone,
    telephone_numbero character varying(255),
    telephone_numberr character varying(255)
);


ALTER TABLE public.arn_records OWNER TO postgres;

--
-- Name: benchmark_analytics; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.benchmark_analytics (
    benchmark_code bigint NOT NULL,
    last_updated date,
    close_current numeric(38,2),
    return_1y numeric(38,2),
    return_3y numeric(38,2),
    return_5y numeric(38,2),
    return_inception numeric(38,2),
    std_dev numeric(38,2),
    sharpe_ratio numeric(38,2),
    std_dev_1y numeric(38,2),
    std_dev_3y numeric(38,2),
    std_dev_5y numeric(38,2)
);


ALTER TABLE public.benchmark_analytics OWNER TO postgres;

--
-- Name: benchmark_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.benchmark_history (
    benchmark_code bigint,
    nav_date date,
    close_value numeric(38,2)
);


ALTER TABLE public.benchmark_history OWNER TO postgres;

--
-- Name: benchmark_master; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.benchmark_master (
    benchmark_code bigint NOT NULL,
    benchmark_name character varying(255),
    nse_symbol character varying(255),
    yahoo_ticker character varying(255),
    category_mapping character varying(255)
);


ALTER TABLE public.benchmark_master OWNER TO postgres;

--
-- Name: leads; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.leads (
    id bigint NOT NULL,
    createdat timestamp(6) with time zone NOT NULL,
    createdby character varying(255),
    deleted boolean NOT NULL,
    updatedat timestamp(6) with time zone NOT NULL,
    updatedby character varying(255),
    version bigint,
    email character varying(255),
    name character varying(255),
    phone character varying(255),
    source character varying(255),
    status character varying(255),
    tenant_id bigint NOT NULL,
    notes text,
    assigned_to_id bigint
);


ALTER TABLE public.leads OWNER TO postgres;

--
-- Name: leads_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.leads ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.leads_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: nav_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.nav_history (
    scheme_code bigint,
    nav_date date,
    nav_value double precision
);


ALTER TABLE public.nav_history OWNER TO postgres;

--
-- Name: passwordresettoken; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.passwordresettoken (
    id bigint NOT NULL,
    expirydate timestamp(6) without time zone,
    token character varying(255),
    user_id bigint NOT NULL
);


ALTER TABLE public.passwordresettoken OWNER TO postgres;

--
-- Name: passwordresettoken_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.passwordresettoken_seq
    START WITH 1
    INCREMENT BY 50
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.passwordresettoken_seq OWNER TO postgres;

--
-- Name: permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permissions (
    id bigint NOT NULL,
    createdat timestamp(6) with time zone NOT NULL,
    createdby character varying(255),
    deleted boolean NOT NULL,
    updatedat timestamp(6) with time zone NOT NULL,
    updatedby character varying(255),
    version bigint,
    description character varying(255),
    name character varying(255) NOT NULL
);


ALTER TABLE public.permissions OWNER TO postgres;

--
-- Name: permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: refreshtoken; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.refreshtoken (
    id bigint NOT NULL,
    expirydate timestamp(6) with time zone NOT NULL,
    token character varying(255) NOT NULL,
    user_id bigint
);


ALTER TABLE public.refreshtoken OWNER TO postgres;

--
-- Name: refreshtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.refreshtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.refreshtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.role_permissions (
    role_id bigint NOT NULL,
    permission_id bigint NOT NULL
);


ALTER TABLE public.role_permissions OWNER TO postgres;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    id bigint NOT NULL,
    createdat timestamp(6) with time zone NOT NULL,
    createdby character varying(255),
    deleted boolean NOT NULL,
    updatedat timestamp(6) with time zone NOT NULL,
    updatedby character varying(255),
    version bigint,
    description character varying(255),
    name character varying(255) NOT NULL
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.roles ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: scheme_analytics; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.scheme_analytics (
    scheme_code bigint NOT NULL,
    last_updated date,
    nav_current numeric(38,2),
    return_1y numeric(38,2),
    return_3y numeric(38,2),
    return_5y numeric(38,2),
    return_inception numeric(38,2),
    std_dev numeric(38,2),
    sharpe_ratio numeric(38,2),
    std_dev_1y numeric(38,2),
    std_dev_3y numeric(38,2),
    std_dev_5y numeric(38,2)
);


ALTER TABLE public.scheme_analytics OWNER TO postgres;

--
-- Name: scheme_master; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.scheme_master (
    "schemeCode" bigint NOT NULL,
    "schemeName" character varying(255),
    is_tracked boolean,
    is_backfilled boolean,
    fund_house character varying(255),
    scheme_category character varying(255),
    isin_growth character varying(255),
    isin_div_reinvestment character varying(255),
    benchmark_code bigint
);


ALTER TABLE public.scheme_master OWNER TO postgres;

--
-- Name: scheme_research; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.scheme_research (
    scheme_code bigint NOT NULL,
    benchmark_code bigint,
    last_updated date,
    alpha_3y numeric(10,2),
    beta_3y numeric(10,2),
    r_squared_3y numeric(10,2),
    sortino_3y numeric(10,2),
    upside_capture_3y numeric(10,2),
    downside_capture_3y numeric(10,2),
    treynor_ratio_3y numeric(10,2),
    info_ratio_3y numeric(10,2),
    tracking_error_3y numeric(10,2),
    max_drawdown_3y numeric(10,2),
    best_month_3y numeric(10,2),
    worst_month_3y numeric(10,2),
    return_ytd numeric(10,2),
    return_2024 numeric(10,2),
    return_2023 numeric(10,2),
    return_2022 numeric(10,2),
    return_2021 numeric(10,2),
    return_2020 numeric(10,2),
    return_1m numeric(10,2),
    return_6m numeric(10,2)
);


ALTER TABLE public.scheme_research OWNER TO postgres;

--
-- Name: COLUMN scheme_research.alpha_3y; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.scheme_research.alpha_3y IS 'Excess return over benchmark (Skill)';


--
-- Name: COLUMN scheme_research.beta_3y; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.scheme_research.beta_3y IS 'Volatility relative to benchmark';


--
-- Name: COLUMN scheme_research.info_ratio_3y; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.scheme_research.info_ratio_3y IS 'Consistency of outperformance';


--
-- Name: COLUMN scheme_research.max_drawdown_3y; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.scheme_research.max_drawdown_3y IS 'Max % drop from peak to trough';


--
-- Name: tenants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tenants (
    id bigint NOT NULL,
    createdat timestamp(6) with time zone NOT NULL,
    createdby character varying(255),
    deleted boolean NOT NULL,
    updatedat timestamp(6) with time zone NOT NULL,
    updatedby character varying(255),
    version bigint,
    active boolean NOT NULL,
    contactemail character varying(255),
    logourl character varying(255),
    name character varying(255),
    phone character varying(255),
    primarycolor character varying(255),
    secondarycolor character varying(255),
    subdomain character varying(255),
    tenantid character varying(255) NOT NULL,
    website character varying(255)
);


ALTER TABLE public.tenants OWNER TO postgres;

--
-- Name: tenants_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tenants ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tenants_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_roles (
    user_id bigint NOT NULL,
    role_id bigint NOT NULL
);


ALTER TABLE public.user_roles OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    createdat timestamp(6) with time zone NOT NULL,
    createdby character varying(255),
    deleted boolean NOT NULL,
    updatedat timestamp(6) with time zone NOT NULL,
    updatedby character varying(255),
    version bigint,
    email character varying(255),
    enabled boolean NOT NULL,
    fullname character varying(255),
    password character varying(255) NOT NULL,
    username character varying(255) NOT NULL,
    tenant_id bigint NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: verificationtoken; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.verificationtoken (
    id bigint NOT NULL,
    expirydate timestamp(6) without time zone,
    token character varying(255),
    user_id bigint NOT NULL
);


ALTER TABLE public.verificationtoken OWNER TO postgres;

--
-- Name: verificationtoken_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.verificationtoken_seq
    START WITH 1
    INCREMENT BY 50
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.verificationtoken_seq OWNER TO postgres;

--
-- Name: api_request_log api_request_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_request_log
    ADD CONSTRAINT api_request_log_pkey PRIMARY KEY (id);


--
-- Name: arn_records arn_records_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.arn_records
    ADD CONSTRAINT arn_records_pkey PRIMARY KEY (arn);


--
-- Name: benchmark_analytics benchmark_analytics_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.benchmark_analytics
    ADD CONSTRAINT benchmark_analytics_pkey PRIMARY KEY (benchmark_code);


--
-- Name: leads leads_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT leads_pkey PRIMARY KEY (id);


--
-- Name: passwordresettoken passwordresettoken_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.passwordresettoken
    ADD CONSTRAINT passwordresettoken_pkey PRIMARY KEY (id);


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (id);


--
-- Name: benchmark_master pk_benchmark_master; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.benchmark_master
    ADD CONSTRAINT pk_benchmark_master PRIMARY KEY (benchmark_code);


--
-- Name: scheme_master pk_scheme_master; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scheme_master
    ADD CONSTRAINT pk_scheme_master PRIMARY KEY ("schemeCode");


--
-- Name: refreshtoken refreshtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refreshtoken
    ADD CONSTRAINT refreshtoken_pkey PRIMARY KEY (id);


--
-- Name: role_permissions role_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_pkey PRIMARY KEY (role_id, permission_id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: scheme_analytics scheme_analytics_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scheme_analytics
    ADD CONSTRAINT scheme_analytics_pkey PRIMARY KEY (scheme_code);


--
-- Name: scheme_research scheme_research_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scheme_research
    ADD CONSTRAINT scheme_research_pkey PRIMARY KEY (scheme_code);


--
-- Name: tenants tenants_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_pkey PRIMARY KEY (id);


--
-- Name: refreshtoken uk1ae3mlfb8xoqm6ju5ouqytato; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refreshtoken
    ADD CONSTRAINT uk1ae3mlfb8xoqm6ju5ouqytato UNIQUE (token);


--
-- Name: tenants uke6ox50mr5ncu0orvr3necfq7a; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT uke6ox50mr5ncu0orvr3necfq7a UNIQUE (tenantid);


--
-- Name: refreshtoken ukktwna62rqu1wooo3c217o5oh0; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refreshtoken
    ADD CONSTRAINT ukktwna62rqu1wooo3c217o5oh0 UNIQUE (user_id);


--
-- Name: verificationtoken uknv1eis9f8kn7u0r2pfpujy1y; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.verificationtoken
    ADD CONSTRAINT uknv1eis9f8kn7u0r2pfpujy1y UNIQUE (user_id);


--
-- Name: roles ukofx66keruapi6vyqpv6f2or37; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT ukofx66keruapi6vyqpv6f2or37 UNIQUE (name);


--
-- Name: permissions ukpnvtwliis6p05pn6i3ndjrqt2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT ukpnvtwliis6p05pn6i3ndjrqt2 UNIQUE (name);


--
-- Name: users ukr43af9ap4edm43mmtq01oddj6; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT ukr43af9ap4edm43mmtq01oddj6 UNIQUE (username);


--
-- Name: passwordresettoken ukrvxqlsowkgpgscib3isbbosci; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.passwordresettoken
    ADD CONSTRAINT ukrvxqlsowkgpgscib3isbbosci UNIQUE (user_id);


--
-- Name: benchmark_history unique_benchmark_date; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.benchmark_history
    ADD CONSTRAINT unique_benchmark_date UNIQUE (benchmark_code, nav_date);


--
-- Name: nav_history unique_scheme_date; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.nav_history
    ADD CONSTRAINT unique_scheme_date UNIQUE (scheme_code, nav_date);


--
-- Name: user_roles user_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_pkey PRIMARY KEY (user_id, role_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: verificationtoken verificationtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.verificationtoken
    ADD CONSTRAINT verificationtoken_pkey PRIMARY KEY (id);


--
-- Name: users fk21hn1a5ja1tve7ae02fnn4cld; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk21hn1a5ja1tve7ae02fnn4cld FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: benchmark_analytics fk_analytics_benchmark; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.benchmark_analytics
    ADD CONSTRAINT fk_analytics_benchmark FOREIGN KEY (benchmark_code) REFERENCES public.benchmark_master(benchmark_code) ON DELETE CASCADE;


--
-- Name: scheme_analytics fk_analytics_scheme; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scheme_analytics
    ADD CONSTRAINT fk_analytics_scheme FOREIGN KEY (scheme_code) REFERENCES public.scheme_master("schemeCode");


--
-- Name: benchmark_history fk_history_benchmark; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.benchmark_history
    ADD CONSTRAINT fk_history_benchmark FOREIGN KEY (benchmark_code) REFERENCES public.benchmark_master(benchmark_code) ON DELETE CASCADE;


--
-- Name: scheme_research fk_research_scheme; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scheme_research
    ADD CONSTRAINT fk_research_scheme FOREIGN KEY (scheme_code) REFERENCES public.scheme_master("schemeCode") ON DELETE CASCADE;


--
-- Name: scheme_master fk_scheme_benchmark; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scheme_master
    ADD CONSTRAINT fk_scheme_benchmark FOREIGN KEY (benchmark_code) REFERENCES public.benchmark_master(benchmark_code);


--
-- Name: role_permissions fkegdk29eiy7mdtefy5c7eirr6e; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT fkegdk29eiy7mdtefy5c7eirr6e FOREIGN KEY (permission_id) REFERENCES public.permissions(id);


--
-- Name: passwordresettoken fkg3fbfo1tc9louotgq5r940avr; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.passwordresettoken
    ADD CONSTRAINT fkg3fbfo1tc9louotgq5r940avr FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: leads fkgk5g4dgj9k8w1t39j39tvu3y3; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT fkgk5g4dgj9k8w1t39j39tvu3y3 FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: refreshtoken fkguj4yi7nx097sx1fux4j7x7hn; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refreshtoken
    ADD CONSTRAINT fkguj4yi7nx097sx1fux4j7x7hn FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_roles fkh8ciramu9cc9q3qcqiv4ue8a6; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT fkh8ciramu9cc9q3qcqiv4ue8a6 FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: user_roles fkhfh9dx7w3ubf1co1vdev94g3f; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT fkhfh9dx7w3ubf1co1vdev94g3f FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: leads fkjebse43efn0rhjmgrkdncxyqr; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT fkjebse43efn0rhjmgrkdncxyqr FOREIGN KEY (assigned_to_id) REFERENCES public.users(id);


--
-- Name: role_permissions fkn5fotdgk8d1xvo8nav9uv3muc; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT fkn5fotdgk8d1xvo8nav9uv3muc FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: verificationtoken fkq5m7x6o3jfcr0wietj0niiet0; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.verificationtoken
    ADD CONSTRAINT fkq5m7x6o3jfcr0wietj0niiet0 FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

